


body
{
	background-color : lightcoral;

}

p
{
  	font-family: 'bangers' , cursive;
  	font-size : 40px ;

}

h1
{
   font-family : 'langer' , cursive;  	
   font-size:50px;
}

h2
{
	font-family: 'langer', cursive;
}

h3
{ 
	font-family: 'langer', cursive;
 }

 a

 {
 	font-family: ' langar', cursive ;
 	color:paleturquoise;
 	background-color:teal;
 	padding: 10px;
 }
































